*{
    font-family: 'Raleway';
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
section{
    width: 100%;
}

body{
    margin: 3%;
    margin-bottom: 0;
}

button {
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-size: 1em;
    padding: 0.7em;
}   

.stars i:last-child{
    color: gray;
}
.stars {
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    color: #0065FC;
}
.cards h1{
    text-align: left;
}

legend {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

p{
    margin-left: 1%;
}
/*<--Header-->*/ 

header  {
    margin-bottom: 2%;
   
}

.header_presentation{
    margin-top: 5%;
    margin-bottom: 3%;
}

.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;

}




.aside_nav{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


/*<--search_location-->*/

.search_location{
    margin-top: 1%;
    margin-bottom: 1%;
}
.search_location label{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 1em;
    
   
}

.search_location form{
   display: flex;
   align-items: center;
}

.search_location input{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    font-size: 1em;

}

.search_location div{
    display: flex;
    flex-direction: row;
    
}


/*<--Filter-->*/
.filter {
    margin-top: 3%;
    margin-bottom: 1%;
    width: 80vw;
}
.filter ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    
    align-items: center;
    
}

.filter i{
    color: #0065FC;
}

.filter button{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: black;

}

.filter button:hover{
    background-color: #DEEBFF;
    cursor: pointer;
  }

button:focus{
    background-color: #DEEBFF;
    
}


.info i{
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
width: 24px;
height: 24px;
border-radius: 180px;
text-align: center;

}



/*<--Main-->*/ 

main {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;

}


.cards{
   color: black;
   display: flex;
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: baseline;
   margin-top: 3%;
}


.main_slideshow{
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-right: 3%;
    padding: 2%;

}




.main_card{
    box-shadow: 0px 2px 8px grey;
    border-radius: 25px;
    background-color: #FFFFFF;
    width: 30%;
    padding: 1%;
    
}


.main_card img{
    border-radius: 20px 20px 0px 0px;
    max-width: 246px;
    max-height: 124px;
    width: 100%;
    object-fit: cover;

}

.main_content{
    display: flex;
    width: 100%;
    
}
.main_activities{
    margin-top: 5%;

}

.activities_card{
   
    border-radius: 20px;
    width: 20%;

}
.main_activities img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.main_activities figure{
    width: auto;
    height: 100%;
  
}

.main_activities figcaption{
    padding: 5%;
    box-shadow: 0px 2px 8px grey;
    border-radius: 0px 0px 20px 20px;
    font-size: 1em;
    font-weight: 700;
    height: 20%;
    text-align: center;
}
.main_activities h3{
    padding: 2%;
}
.main_activities h2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.activities {
    display: flex ;
    height: 60%;
    justify-content: space-between;
}
/*<--Aside-->*/  


aside{
    
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 2%;
}

.aside_main {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside i{
    display: flex;
    flex-direction: row;
    color: #0065FC;
}

.aside_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.aside_card{
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 0px 2px 8px grey;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.aside_card div{
    padding: 3%;
}
aside img{
    width: 137px;
    height: 144px;
    border-radius: 20px 0px 0px 20px;
}

.aside_slideshow h1{
    margin-bottom: 3%;
}

.aside_nav h2:hover{
    color: #0065FC;
    cursor: pointer;

}




/*<--Footer-->*/     
footer {
    margin-top: 5%;
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    font-weight: 16px; 
    height: 20%;
 
}

footer div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3%
}

footer a{
    text-decoration: none;
    color: black;
}

footer h3 {
    margin-bottom: 5%;
}


/*<--H-->*/  

h3 {
    font-size: 1em;
    margin: 0;
    width: 100%;
}

h2{
    font-size: 1.3em;
}

h1{
    font-size: 1.5em;
}

@media screen and (max-width: 1150px ){


    .filter{
        width: 100%;
    }

    .filter ul{
        width: 95%;
    }

    .filter h2{
        margin-left: 50%;
    }

    .main_content {
        display: block;
        width: 100%;

    }
    .main_card{
        width: 29%;
    }

    .main_card img{
        max-width: unset;
    }

    .cards h3{
        margin-top: 2%;
        margin-bottom: 1%;
    }
    .cards{
        justify-content: space-evenly;

    }
    .cards div{
        margin: 2%;
    }


    
    .main_slideshow{
        margin: 0;
        margin-bottom: 5%;
        
    }
    .aside_header{
        display: flex;
        flex-direction: row;
        margin-top: 2% ;
    }

    
    .aside_main{
        display: flex;
        flex-direction: row;

    }
    .aside_card{
        margin: 2%;
        width: 100%;
    }

    
}

@media screen and (max-width: 768px ){
    .header_logo {
        display: flex;
        flex-direction: column;
        

    }

    .header_logo div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        
    }

    .header_presentation{
        text-align: left;
    }

    .search_location{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .filter ul{
        display: flex;
        flex-wrap: wrap;

    }

    .filter button{
        width: 85%;
    }

    .filter h2{
        margin-left: 0%;
    }

    nav{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    nav li{
        width: 50%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    nav li:first-child{
        width: 100%;
        
    }

    main section {
        display: flex;
        flex-direction: column-reverse;
    }

    .main_content{
        display: flex;
    }

    .main_slideshow{
        border-radius: 0;
        background-color: #f5f5f5;
    }

    .main_slideshow h3{
        text-align: left;
        width: 100%;
        height: auto;
    }
   
   
    .aside_main{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .aside_slideshow{
        background-color: #F2F2F2;
        border-radius: unset;
        margin-bottom: 5%;
    }
    .activities{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main_activities{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .main_card{
        width: 100%;
        border: 0;
        box-shadow: unset;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 2%;
    }
    .main_card img{
        width: 100%;
        height: 50%;
        max-height: 124px;
        max-width: 100%;
        
    }

    .cards h3:last-child{
        display: none;
    }
    .main_activities img{
        max-height: 200px;
    }
    .activities_card{
        width: 100%;
        
        margin-top: 4%;
        margin-bottom: 4%;
    }

    footer{
        display: flex;
        flex-direction: column;
    }
   
}